.card{
    background-color: rgb(255, 213, 98);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 4px;
    border-style:ridge;
    border-color: goldenrod;
}

.card:hover{
    transform: scale(110%);
}

.image{
    width: 200px;
    height: 200px;
}

.link{
    text-decoration: none;
    color: black;
    font-family: 'Banana';
    font-size: 18px;
}

.title{
    font-size: 27px;
    margin-bottom: 5px;
}

.image{
    box-sizing: border-box;
    border: 2px;
    border-style:dashed;
    border-color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.24);
}